div {
    display:flex;
    justify-content:center;
    width: 100px;
    height: 100px;
    background-image:url("https://66.media.tumblr.com/26b9807634696dac421dcfe462ec52c1/2c6de612c2548492-bd/s400x600/6f9a892dd1def7f8212a0e03ed14eed589154cc8.gif");
    transition: width 2s,height 2s;
  }

  div:hover {
    width: 1000px;
    height:1000px
  }

html{

    background-image: url("https://64.media.tumblr.com/a4411d8298bec736fb490ba478710992/fbabd0fd21f23ea8-67/s540x810/6a88f693e12866f35ab3c9ea7fdf1f871f185065.gif");
}