html{
    font-family:sans-serif;
}

.container{
    width:max-content;
    background:black;
    height:2000px;
    margin:0 auto 0 auto;

}

#page-title{
    text-align:center;
    padding:50px;
    font-weight: 400;
}

.container img{
    width:30%;
    height:150px;
    display:block;
    

}